<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/dtd/mybatis-3-mapper.dtd"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.tobycold.mapper.ArticleMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into articles
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="title != null and title != ''">
                title,
            </if>
            <if test="tags != null and tags != ''">
                tags,
            </if>
            <if test="routerName != null and routerName != ''">
                routerName,
            </if>
            <if test="body != null and body != ''">
                body,
            </if>
            <if test="ip != null and ip != ''">
                ip,
            </if>
        </trim>
        <trim prefix="values(" suffixOverrides="," suffix=")">
            <if test="title != null and title != ''">
                #{title},
            </if>
            <if test="tags != null and tags != ''">
                #{tags},
            </if>
            <if test="routerName != null and routerName != ''">
                #{routerName},
            </if>
            <if test="body != null and body != ''">
                #{body},
            </if>
            <if test="ip != null and ip != ''">
                #{ip},
            </if>
        </trim>
    </insert>

</mapper>