<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/dtd/mybatis-3-mapper.dtd"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.tobycold.mapper.IdentityMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into identity
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="account != null">
                account,
            </if>
            <if test="password != null">
                password,
            </if>
        </trim>
        <trim prefix="values(" suffixOverrides="," suffix=")">
            <if test="account != null">
                #{account},
            </if>
            <if test="password != null">
                #{password},
            </if>
        </trim>
    </insert>
    <select id="select" resultType="top.tobycold.pojo.IdentityEntity">
        select * from identity
        <where>
            <if test="account != null">
                and account = #{account}
            </if>
            <if test="password != null">
                and password = #{password}
            </if>
        </where>
    </select>
</mapper>