<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/dtd/mybatis-3-mapper.dtd"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.tobycold.mapper.SummaryMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into summary
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="title != null">
                title,
            </if>

            <if test="body != null">
                body,
            </if>
            <if test="path != null">
                path,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="articleDetailId != null">
                article_detail_id
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="title != null">
                #{title},
            </if>
            <if test="body != null">
                #{body},
            </if>
            <if test="path != null">
                #{path},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="articleDetailId != null">
                #{articleDetailId}
            </if>
        </trim>
    </insert>
    <select id="selectByPages" resultType="top.tobycold.pojo.SummaryEntity">
        select * from summarys
            <where>
                <if test="status != null">
                    status = #{status}
                </if>
            </where>
            limit #{start}, #{total}
    </select>
</mapper>