<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/dtd/mybatis-3-mapper.dtd"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.tobycold.mapper.UserMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into user
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="account != null and account != ''">
                account,
            </if>
            <if test="password != null and password != ''">
                password,
            </if>
            <if test="name != null and name != ''">
                name,
            </if>
            <if test="signature != null and signature != ''">
                signature,
            </if>
            <if test="grade != null">
                grade,
            </if>
            <if test="isAdmin != null">
                isAdmin,
            </if>
            <if test="commentCount != null">
                commentCount,
            </if>
            <if test="likeCount != null">
                likeCount,
            </if>
            <if test="tagCount != null">
                tagCount,
            </if>
            <if test="github != null and github != ''">
                github,
            </if>
            <if test="qq != null and qq != ''">
                qq,
            </if>
            <if test="bilibili != null and bilibili != ''">
                bilibili,
            </if>
            <if test="avatar != null and avatar != ''">
                avatar,
            </if>
        </trim>
        <trim prefix="values(" suffixOverrides="," suffix=")">
            <if test="account != null and account != ''">
                #{account},
            </if>
            <if test="password != null and password != ''">
                #{password},
            </if>
            <if test="name != null and name != ''">
                #{name},
            </if>
            <if test="signature != null and signature != ''">
                #{signature},
            </if>
            <if test="grade != null">
                #{grade},
            </if>
            <if test="isAdmin != null">
                #{isAdmin},
            </if>
            <if test="commentCount != null">
                #{commentCount},
            </if>
            <if test="likeCount != null">
                #{likeCount},
            </if>
            <if test="tagCount != null">
                #{tagCount},
            </if>
            <if test="github != null and github != ''">
                #{github},
            </if>
            <if test="qq != null and qq != ''">
                #{qq},
            </if>
            <if test="bilibili != null and bilibili != ''">
                #{bilibili},
            </if>
            <if test="avatar != null and avatar != ''">
                #{avatar},
            </if>
        </trim>
    </insert>

    <select id="select" resultType="top.tobycold.pojo.UserEntity">
        select * from user
        <where>
            <if test="id != null and id != 0">
                id = #{id}
            </if>
            <if test="account != null and account != ''">
                and account = #{account}
            </if>
            <if test="password != null and password != ''">
                and password = #{password}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="signature != null and signature != ''">
                and signature = #{signature}
            </if>
            <if test="grade != null and grade != ''">
                and grade = #{grade}
            </if>
            <if test="isAdmin != null and isAdmin != ''">
                and isAdmin = #{isAdmin}
            </if>
        </where>
    </select>

    <delete id="delete">
        delete from user
        <where>
            <if test="account != null">
                account = #{account}
            </if>
            <if test="password != null">
                and password = #{password}
            </if>
            <if test="name != null">
                and name = #{name}
            </if>
            <if test="signature != null">
                and signature = #{signature}
            </if>
            <if test="grade != null">
                and grade = #{grade}
            </if>
            <if test="isAdmin != null">
                and isAdmin = #{isAdmin}
            </if>
        </where>
    </delete>


    <update id="update" useGeneratedKeys="true" keyProperty="id">
        update user
        <set>
            <if test="account != null">
                account = #{account},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="signature != null">
                signature = #{signature},
            </if>
            <if test="grade != null">
                grade = #{grade},
            </if>
            isAdmin = #{isAdmin}
        </set>
        where id = #{id};
    </update>

</mapper>